/* @import './base.css'; */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body {
  cursor: url('/cursor.png'), default;
}
body, header{
  @apply bg-blue-100;
}

header {
  margin: 0 auto; 
  padding: 1rem;
}

@media screen and (max-width: 450px) {
  header {
    margin: 0 auto; 
    padding: 0.5rem 1rem;
  }
}

main {
  margin: 0 auto; 
  padding-top: 0.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0;
  padding-left: 1.5rem;
}
